<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO</title>
        <meta charset="UTF-8"/>

        <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">TODO</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/todos/today}">Today</a></li>
                        <li><a href="#" th:href="@{/calendar}">Calendar</a></li>
                    </ul>

                    <form th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right" action="#" th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-default">Logout</button>
                    </form>
  
                    <form th:if="!${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right" action="#" th:action="@{/login}" method="GET">
                        <button type="submit" class="btn btn-danger">Sign in</button>
                    </form>
                    
                    <form th:if="!${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right" action="#" th:action="@{/register}" method="GET">
                        <button type="submit" class="btn btn-success">Sign up</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" layout:fragment="content">
        </div>

        <footer class="footer">
            <div class="container">

            </div>
        </footer>

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    </body>
</html>
