<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    >
    <head>
        <title>TODO</title>
        <meta charset="UTF-8"/>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">TODO</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="#">Todo</a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>

            </div>
        </nav>

        <div class="container" layout:fragment="content">

            <form method="POST" action="#" th:action="@{/register}" th:object="${userDto}">

                <div class="form-group">
                    <label for="username">Username: <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:text="${#fields.errors('username')}">username error</span></label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label for="password">Password: <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}"></span></label>
                    <input type="password" class="form-control" name="password" id="password" />
                </div>
                
                <div class="form-group">
                    <label for="passwordConfirm">Repeat password: <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:text="${#fields.errors('passwordConfirm')}"></span></label>
                    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" />
                </div>

                <button type="submit" class="btn btn-default">Sign up</button>

            </form>
        </div>

        <footer class="footer">
            <div class="container">

            </div>
        </footer>

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="../static/js/main.js" th:src="@{/css/main.js}"></script>
    </body>
</html>
